---
import Layout from '../layouts/Layout.astro'
import SvgNotLinks from '../components/SvgNotLinks.astro'
import ButtonAddLink from '../components/ButtonAddLink.astro'
import LinkPreview from '../components/LinkPreview.astro'
import { db, Pages, eq, PageLinks } from 'astro:db'

if(!Astro.cookies.has("username")){
    return Astro.redirect("/")
}

const username = Astro.cookies.get("username").value
const page = await db.select().from(Pages).where(eq(Pages.username, username))

if (page.length == 0){
    Astro.cookies.delete("username")
    return Astro.redirect("/")
}

const pageLinks = await db.select()
.from(PageLinks)
.innerJoin(Pages, eq(PageLinks.page_id, page[0].id))

---

<Layout title="Creati Web" header="These are the links to your page 👌">
<main class="flex justify-center items-center flex-col">
    <section class="mb-8">
        <a href={`/${username}`}>Your Page</a>
    </section>
    {
        pageLinks.length == 0 ? (
            <section class="flex flex-col items-center gap-24">
                <SvgNotLinks styles="w-[20vw] hover:scale-110 transition-transform"/>
            </section>
        ): (
            <section class="space-y-6" >
                {
                    pageLinks.map(({ PageLinks : link}) => (
                        <LinkPreview 
                        label={link.label} 
                        icon={link.icon} 
                        link={link.link} 
                        id={link.id}/>
                    ))
                }
            </section>
        )
    } 
    <section class="mx-auto mt-12">
        <ButtonAddLink href="/add"/>
    </section>
</main>
</Layout>