---
import Layout from '../../layouts/Layout.astro'
const { username } = Astro.params
import Link from '../../components/Link.astro'
import SvgNotLinks from '../../components/SvgNotLinks.astro'
import { db, Pages, eq, PageLinks } from 'astro:db'

const page = await db.select().from(Pages).where(eq(Pages.username, username))

if (page.length == 0){
    return Astro.redirect("/")
}

const pageLinks = await db.select().
from(PageLinks).
where(eq(PageLinks.page_id, page[0].id))
---


<Layout title={username} header={username}>
<main class="flex justify-center">
    {
        pageLinks.length == 0 ? (
            <section class="flex flex-col items-center gap-24">
                <SvgNotLinks styles="w-[20vw] hover:scale-110 transition-transform"/>
            </section>
        ): (
            <section class="flex flex-col gap-6" >
                {
                    pageLinks.map((link) => (
                        <Link
                        label={link.label} 
                        icon={link.icon} 
                        link={link.link} 
                        id={link.id}/>
                    ))
                }
            </section>
        )
    } 
</main>
</Layout>